body {
    margin: 0;
    padding: 0;
  }
  
  
  .navbar {
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap;   
    gap: 2em;             
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    overflow: hidden;
  }
  
  
  .navtext{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #0093D0;
    align-items:baseline;
    margin-top: 1em;
    line-height: 20px;
    padding-left: 0.8em;
  }


  a .navtext{
    text-decoration: none;
  }
  
  
  .dropdown {
    overflow: hidden;
  }
  
  
  .dropdown .dropdown-button {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    margin-top: 3em;
  }
  
  .dropdown-content a {
    float: none;
    color: #0093D0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .navtext:hover{
    color: #74b9d6;
  }



  .instruction-1{
    margin-top: 100px;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 2rem;
    color: #E0EFF8;
    background-color: #0093D0;
    border-width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2em;
    width: 100% auto;
    overflow:scroll;
}


.instruction-2 {
    font-family: 'Arial Narrow';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.35rem;
    border: #015F86 solid;
    border-radius: 15px;
    color: #0093D0;
    background-color: #E0EFF8;
    padding-left: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 150px;

}


.body01, .body02, .body03, .instruction-text-1, .instruction-text-2, .instruction-text-3{
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-size: 15pt;
    font-style: normal;
    color: #0093D0;
    padding-right: 8em;
    margin-left: 5.9em;
}


.body01{
    margin-top: 2em;
}


h3{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2rem;
    font-style: normal;
    color: #0093D0;
    margin-top: 2em;
    padding-left: 3.5em;
}


.arial{
    font-family: 'Arial Narrow';
    color: #0093D0;
}


.flex-parent{
    display: flex;
    margin-left: 5em;
    margin-top: 2em;
}


.flex-child-circle{
    margin: 10px;
    display: inline-block; 
}


.circle{
    background-color: #E0EFF8;
    border-radius: 80%;
    width: 29px;
    height: 29px;
    border: black solid 1px;
    margin: 10px;
}


.flex-child-instruction{
    display: inline-block; 
    margin-top: 15px;
}


.instruction-text-1, .instruction-text-2, .instruction-text-3{
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #0093D0;
    line-height: 40px;
}


a{
    text-decoration: none;
    color: #0093D0;
}


.quote{
    font-family: 'Arial Narrow';
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    text-align: right;
    color: #0093D0;
    margin-right: 4em;
    margin-top: 7em;
}


button{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: 'Arial Narrow';
    background: white;
    border-radius: 50px;
    border: #015F86 solid 1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 5em;
    margin-right: 4em;
    float: right;

}


a:hover{
    color: #E0EFF8
}


button:hover{
    background: #015F86;
    color: #E0EFF8
}







@media screen and (min-width: 320px) and (max-width: 900px) {

  .navbar, .navtext{
    font-size: 17px;
    line-height: 18px;
    padding-left: 7px;
    padding-right: 1px;
    justify-content: center;
    align-items: center;
  }


  .dropdown-button{
    font-size: 17px;
    margin-left: auto;
    
  }



  .navtext br{
    display: none;
  }


  .navtext{
    width: 170px;
  }


  .mobile-only-line-break { 
    display: block;
  }


  .dropdown-content{
    margin-top: 3.5em;
  }
  

  .instruction-1 {
      font-size: 16pt;
  }


  .instruction-1{
    margin-top: 3em;
}



  .instruction-2{
      font-size: 14pt;
      margin-top: 10px;
      line-height: 20px;
      padding-top: 2px;
      padding-bottom: 1px;
      justify-content: left;
      display: flex;
      padding-left: 1em;
  }



  h3{
    display: flex;
    text-wrap: wrap;
    font-size: 17pt;
    justify-content: left;
    text-align: left;
    align-items: start;
    padding-left: 1em;
    padding-right: 1em;
  }


  h3 br{
    display: none;
  }


  .body01, .body02, .body03{
     font-size: 18px;
     padding-left: 0;
     margin-bottom: 10px;
     margin-left: 1.3em;
     padding-right: 1.3em;
     padding-bottom: 0.7em;
     text-align: justify;
     hyphens: auto;
     -webkit-hyphens: auto;
     word-spacing: -0.05em;
  }


  .body03{
    margin-bottom: 6em ;
  }


  .instruction-text-1, .instruction-text-2, .instruction-text-3{
      font-size: 18px;
      line-height: 20px;
       margin-left: 1.3em;
       padding-left: 10px;
       margin-right: 15px;
       margin-bottom: 20px;
       padding-right: 3px;
      display: flex;
      text-align: left;
      }


  .flex-parent {
    margin-left: 0;
  }
  

  .container {
    margin-left: 0; 
  }


  .instruction-text-3{
    margin-bottom: 5em;
  }



  .quote{
    display: flex;
    justify-content: right;
    margin-right: 1em;
    font-size: 16px;
  }


  button{
    font-size: 17px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0em;
    margin-bottom: 3em;
    margin-right: 1em;
  }

}










}