.title-container{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
}


.title, .nav{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
    color: #0093D0;
}


.instruction-1, .instruction-2 {
    font-family: 'Arial Narrow';
    font-weight: bold;
    text-transform: uppercase;
    border: #015F86 solid;
    border-radius: 30px;
    color: #E0EFF8;
    background-color: #0093D0;
    padding-left: 1.5em;
    padding-left: 1.5em;
    width: fit;
    margin-left: 2em;
    margin-right: 2em;

}


.instruction-1{
    margin-top: 100px;
}


.instruction-2{
    margin-top: 150px;
}


.body01, .body02, .body03{
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #0093D0;
    padding-right: 8em;
    margin-left: 5.9em;
}


.body01{
    margin-top: 2em;
}


h3{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #0093D0;
    margin-top: 2em;
    padding-left: 5em;
}


.arial{
    font-family: 'Arial Narrow';
    color: #0093D0;
}


.flex-parent{
    display: flex;
    margin-left: 5em;
    margin-top: 2em;
}


.flex-child-circle{
    margin: 10px;
    display: inline-block; 
}


.circle{
    background-color: #E0EFF8;
    border-radius: 80%;
    width: 29px;
    height: 29px;
    border: black solid 1px;
    margin: 10px;
}


.flex-child-instruction{
    display: inline-block; 
    margin-top: 15px;
}


.instruction-text-1, .instruction-text-2, .instruction-text-3{
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #0093D0;
    line-height: 40px;
}


a{
    text-decoration: none;
    color: #0093D0;
}


.quote{
    font-family: 'Arial Narrow';
    font-weight: 300;
    font-style: italic;
    text-align: right;
    color: #0093D0;
    margin-right: 4em;
    margin-top: 7em;
}


button{
    text-transform: uppercase;
    font-family: 'Arial Narrow';
    background: white;
    border-radius: 50px;
    border: #015F86 solid 1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 46em;
    margin-right: 4em;
    float: right;

}


a:hover{
    color: #E0EFF8
}


button:hover{
    background: #015F86;
    color: #E0EFF8
}


.footer-text{
    display: flex;
    font-family: 'Arial Narrow';
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    gap: 28em;
    color: #0093D0;
}


.menu{
    text-decoration: none;
    color: #0093D0;
    justify-content: space-between;

}


.footer{
    height: 100px;
    margin-top: -100px;
}